@charset "ISO-8859-1";


body{
	height: 100%;
	width: 100%;
	background-color: #add8e6;
	background-size: cover;
	position: absolute;
	background-position: center;
}

.topnav1{
	
	background-color: #333;
	 overflow: hidden;
 }
 
 .header {
	font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    border: 2px solid black;
    padding: 10px 30px;
    
  } 
  .topnav1 a{
    float: left;
   	color: #f2f2f2;
   	text-align: center;
  	text-decoration: none;
  	font-size: 15px;
  }
  